# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/webroot/wp-admin/
/webroot/wp-content/index.php
/webroot/wp-content/languages
/webroot/wp-content/plugins/index.php
/webroot/wp-content/themes/index.php
/webroot/wp-includes/
/webroot/index.php
/webroot/license.txt
/webroot/readme.html
/webroot/wp-*.php
/webroot/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/webroot/wp-content/themes/twenty*/

# Example plugin
/webroot/wp-content/plugins/hello.php

# Uploads
/webroot/wp-content/uploads/

# Log files
*.log

# htaccess
/webroot/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
/webroot/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

# Custom
.idea/